@media screen and (min-width: 0) and (max-width: 1000px){
  .round {
    position: fixed;
    right: 5%;
    bottom: 28%;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
}
